<div class="overflow-scroll">
<!--   <div class="textContent">
    <p>Lists the current batting order</p>
    <p>At some point I would like to hook this up to be able to drag and drop the order of the batters.</p>

  </div> -->
  <ul>
    {#batter}
      <li id="{Id}" data-position="{$idx}" data-battingOrder="{battingPosition}">
        <div class="show">
          <div class="battingPosition">{battingPosition}</div>
          <div class="portrait" style="background:url(/assets/img/profile/{Thumbnail}); background-size:contain;" />
          <div class='metaContainer'>
            <span class="playerName">{Name}</span>
            <span class="fieldingPosition">{Positions}</span>
            <div class="statsContainer">
              <span class="throws"><span class="label">Throws:</span> {Throws}</span>
              <span class="bats"><span class="label">Bats:</span> {Bats}</span>
            </div>
          </div>
        </div>
        <div class="hidden">
          <div class="remove">Remove</div>
        </div>
      </li>
    {/batter}
  </ul>
  <!--http://askthecssguy.com/articles/baseball-card-image-captions-with-css-and-javascript-near-mint/ -->
</div>