<div class="fieldWrapper">
<div class="fake"></div>
  <div class="container">
    <div class="playingField">
      <!--Place the various players in the correct positions-->
      <!--
      <div class="fielder p" style="background:url(/images/profile/beanie.jpg); background-size:contain;" ></div>
      <div class="fielder c" style="background:url(/images/profile/Bill.jpeg); background-size:contain;"></div>
      <div class="fielder f" style="background:url(/images/profile/BrianMyers.jpeg); background-size:contain;"></div>
      <div class="fielder s" style="background:url(/images/profile/Greg.jpeg); background-size:contain;"></div>
      <div class="fielder t" style="background:url(/images/profile/JohnTatum.jpeg); background-size:contain;"></div>
      <div class="fielder ss" style="background:url(/images/profile/markWord.jpeg); background-size:contain;"></div>
      <div class="fielder lf" style="background:url(/images/profile/Nate.jpeg); background-size:contain;"></div>
      <div class="fielder cf" style="background:url(/images/profile/SteveHunt.jpg); background-size:contain;"></div>
      <div class="fielder rf" style="background:url(/images/profile/noImage.jpeg); background-size:contain;"></div>
      -->
      <div class="droppable pitcher">Pitcher</div>
      <div class="droppable catcher">Catcher</div>

      <div class="droppable firstBase">First</div>
      <div class="droppable secondBase">Second</div>
      <div class="droppable thirdBase">Third</div>
      <div class="droppable shortstop">Short</div>

      <div class="droppable leftField">Left</div>
      <div class="droppable centerField">Center</div>
      <div class="droppable rightField">Right</div>

    </div>
  </div>
  <div class="slider-container">
  </div>
</div>