<div class="overflow-scroll">
  <div class="textContent">
    <!--<h1>{@msg key="headline"/}</h1>-->
    <p>Where do you want to play?</p>
  </div>
  <div class="field">
    <!--Place the various players in the correct positions-->
    <div class="fielder pitcher" style="background:url(/images/profile/beanie.jpg); background-size:contain;" ></div>
    <div class="fielder catcher" style="background:url(/images/profile/Bill.jpeg); background-size:contain;"></div>
    <div class="fielder first" style="background:url(/images/profile/BrianMyers.jpeg); background-size:contain;"></div>
    <div class="fielder second" style="background:url(/images/profile/Greg.jpeg); background-size:contain;"></div>
    <div class="fielder third" style="background:url(/images/profile/JohnTatum.jpeg); background-size:contain;"></div>
    <div class="fielder ss" style="background:url(/images/profile/markWord.jpeg); background-size:contain;"></div>
    <div class="fielder lf" style="background:url(/images/profile/Nate.jpeg); background-size:contain;"></div>
    <div class="fielder cf" style="background:url(/images/profile/SteveHunt.jpg); background-size:contain;"></div>
    <div class="fielder rf" style="background:url(/images/profile/noImage.jpeg); background-size:contain;"></div>
  </div>
</div>