<div class="fieldWrapper">
<div class="fake"></div>
  <div class="container">
    <div class="playingField">
      {#player}
        {?inTheField}
          {@select key="{inTheField}"}
            {@eq value="1"}
              <div class="droppable pitcher fielder layer1" style="background:url(/assets/img/profile/{Thumbnail}); background-size:contain;"><p>{Name}Pitcher</p></div>
            {/eq}
            {@eq value="2"}
               <div class="droppable catcher fielder layer1" style="background:url(/assets/img/profile/{Thumbnail}); background-size:contain;"><p>{Name}Catcher</p></div>
            {/eq}
            {@eq value="3"}
              <div class="droppable firstBase fielder layer2" style="background:url(/assets/img/profile/{Thumbnail}); background-size:contain;"><p>{Name}First</p></div>
            {/eq}

            {@eq value="4"}
              <div class="droppable secondBase fielder layer3" style="background:url(/assets/img/profile/{Thumbnail}); background-size:contain;"><p>{Name}Second</p></div>
            {/eq}
              {@eq value="5"}
              <div class="droppable thirdBase fielder layer2" style="background:url(/assets/img/profile/{Thumbnail}); background-size:contain;"><p>{Name}Third</p></div>
            {/eq}

            {@eq value="6"}
              <div class="droppable shortstop fielder layer3" style="background:url(/assets/img/profile/{Thumbnail}); background-size:contain;"><p>{Name}Short</p></div>
            {/eq}
            {@eq value="7"}
              <div class="droppable leftField fielder layer4" style="background:url(/assets/img/profile/{Thumbnail}); background-size:contain;"><p>{Name}Left</p></div>
            {/eq}
            {@eq value="8"}
              <div class="droppable centerField fielder layer4" style="background:url(/assets/img/profile/{Thumbnail}); background-size:contain;"><p>{Name}Center</p></div>
            {/eq}
            {@eq value="9"}
              <div class="droppable rightField fielder layer4" style="background:url(/assets/img/profile/{Thumbnail}); background-size:contain;"><p>{Name}Right</p></div>
            {/eq}
          {/select}
        {/inTheField} 
      {/player}
    </div>
  </div>
  <div class="slider-container">
  </div>
</div>