<p>
  <ul class="tasks">
    <li class="task"><a href="/all_player">All Players</a></li>
    <li class="task"><a href="/available_player">Bench Players</a></li>
    <!-- <li class="task"><a href="/set_lineup">Set Lineup</a></li> -->
    <li class="task"><a href="/field">Who is in the Field</a></li>
    <li class="task"><a href="/batting_order">Batting Order</a></li>
  </ul>

</p>

<p>{@msg key="choose_language"/} <a href="/lang?locale=en_US">English</a>, <a href="/lang?locale=es_MX">Español</a></p>