<div class="playerContainer">
  <div id="content" class="clearfix">
    {#data}
    <div class="inline-header players-header">
      <div class="main-img">
        <img src="assets/img/headshot/{LastName}.png" width="112" height="90">
      </div>
      <div class="ih-left-container">
        <h2>#{JerseyNum} {Name}</h2>
        <div class="ih-stat-mod">
          <table class="player-record">
            <tbody>
              <tr>
                <th>BA</th>
                <th>HR</th>
                <th>RBI</th>
              </tr>
              <tr>
                <td>{BA}</td>
                <td>2</td>
                <td>27</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div>
      THE FIELD GOES HERE
    </div>
    {/data}
  </div>
</div>