<h1>{@msg key="headline"/}</h1>
<p>Here you can set the line up and batting order.</br>
Drag and drop the individual line items to set the batting order.<br/>
Swipe to remove a player</p>

<div class="addPlayer">Add Player</div>

<ul>
	<li>
		<span class="playerName">Paul Pitcher</span>
		<span class="fieldingPosition">P</span>
		<span class="battingOrder">1</span>
	</li>
	<li>
		<span class="playerName">Paul Pitcher</span>
		<span class="fieldingPosition">C</span>
		<span class="battingOrder">2</span>
	</li>
	<li>
		<span class="playerName">Paul Pitcher</span>
		<span class="fieldingPosition">1st</span>
		<span class="battingOrder">3</span>
	</li>
	<li>
		<span class="playerName">Paul Pitcher</span>
		<span class="fieldingPosition">SS</span>
		<span class="battingOrder">4</span>
	</li>
	<li>
		<span class="playerName">Paul Pitcher</span>
		<span class="fieldingPosition">2nd</span>
		<span class="battingOrder">5</span>
	</li>
	<li>
		<span class="playerName">Paul Pitcher</span>
		<span class="fieldingPosition">3rd</span>
		<span class="battingOrder">6</span>
	</li>
	<li>
		<span class="playerName">Paul Pitcher</span>
		<span class="fieldingPosition">CF</span>
		<span class="battingOrder">7</span>
	</li>
	<li>
		<span class="playerName">Paul Pitcher</span>
		<span class="fieldingPosition">LF</span>
		<span class="battingOrder">8</span>
	</li>
	<li>
		<span class="playerName">Paul Pitcher</span>
		<span class="fieldingPosition">RF</span>
		<span class="battingOrder">9</span>
	</li>
<ul>
